@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Abel|Concert+One|Karla|Open+Sans+Condensed:300|Varela+Round');

body * {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3, button {
  font-family: 'Abel', sans-serif;
  margin-top: 
}

button {
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bb5ef9+0,f25e99+100 */
  background: #4F6367;
  border: none;
  color: #f9f9f9;
  width: 100%;
  padding: 0.8em;
  font-size: 1.1em;
  font-weight: 300;
  border-radius: 500px;
  outline: none;
  margin-top: 30px;
}

h2 {
  font-size: 2.5em;
  margin: 0em;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 0px;
}

body {
  margin: 0;
  font-weight: 300;
  background-color: #FFEDD1;
}

section {
  width: calc(100vw - 20px);
  min-height: calc(100vh - 20px);
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

img, button {
  -webkit-user-select: none;  
  -khtml-user-select: none;   
  -moz-user-select: none; 
  -o-user-select: none;    
  user-select: none; 
}

section .content {
  flex-direction: row;
  max-height: 70vh;
  max-width: 850px;
  padding: 2vw;
}

#section-one {
  color: #f9f9f9;
  background-color: #ED6B57;
}

#section-one .column-right {
  justify-content: flex-start;
}

#section-two {
  color: #333;
  background-color: #FFEDD1;
}

#section-two .column-right {
  flex: 1.2;
}

#section-three {
  color: #f9f9f9;
  background-color: #4F6367;
}

#section-three img {
  width: 40px;
  margin: 30px;
  align-self: center;
}

#section-three button {
  background: #ED6B57;
}

.detail:nth-child(-n+2)::after {
  content: " ";
  display: block;
  height: 50px;
  width: 1px;
  border:none;
  border-left: 2px dotted #f9f9f9;
  z-index: 100;
  position: absolute;
  bottom: -25px;
  left: 50px;
}

.content .detail:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content .detail:nth-child(3) {
  background-color: #ED6B57;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content .detail {
  background-color: #425356;
  width: 100%;
}

.content .detail p {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  line-height: 1.2em;
  font-size: 1em;
}

#logo {
  position: absolute;
  width: 50px;
  left: 50px;
  top: 50px;
}

#arrow {
  position: absolute;
  width: 40px;
  bottom: 50px;
}

.column-left {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-right: 3vw;
}

.column-right {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 3vw;
}

.screenshot {
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
  align-self: center;
}

.custom-counter {
  flex-direction: column;
  color: #777;
  font-family: 'Inconsolata';
  font-size: 1em;
  list-style-type: none;
  line-height: 1.5em;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  display: inline;
  content: counter(step-counter);
  margin-right: 15px;
  text-align: right;
  font-weight: 700;
  border-right: 1px solid #eee;
  padding-right: 15px;
}

.code-hub {
  font-weight: 600;
}

.code-str {
  color: #ED6B57;
}

.code-fun {
  color: #1EA6B5;
}

@media (max-width: 800px) {
  section .content {
    flex-direction: column;
    max-width: 400px;
    max-height: 90vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
  }
  
  #logo {
    width: 30px;
    left: 20px;
    top: 20px;
  }
  
  .column-left {
    margin-right: 0px;
  }

  .column-right {
    margin-left: 0px;
    margin-top: 20px;
  }
  
  .screenshot {
    height: 30vh;
    width: auto;
    flex-shrink: 0;
    align-self: center;
  }
  
  body {
    font-size: 14px;
  }
}