@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Inconsolata:400,700');

* {
	box-sizing: border-box;
}

h1, h2, h3, button {
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
  font-weight: 300;
  background-color: #eee;
}

#logo {
	width: 50px;
}

section {
  display: flex;
  flex-direction: column;
	border-radius: 5px;
}

header {
	margin-top: 50px;
	margin-left: 50px;
}

.triangle {
	width: 40px;
	align-self: center;
}

.flex-item {
	display: flex;
	flex: 1;
  flex-direction: column;
	justify-content: center;
}

.flex-item img {
	width: 70%;
	flex-shrink: 0;
	align-self: center;
}

.flex-item p {
	font-size: 1.2em;
	line-height: 1.7;
}

.flex-item h2 {
	font-size: 3em;
	margin-bottom: 0em;
}

section {
	background-color: #27ae60;
	max-width: 100vw;
  min-height: calc(100vh - 20px);
	margin: 10px;
}

#sec-one {
	color: #f9f9f9;
}

#sec-two {
  background-color: #eee;
}

section .container {
	display: flex;
	flex-direction: row;
  height: 70vh;
	width: 800px; 
	align-self: center;
}

.top-container {
	margin: auto;
}

.item-one, .item-two, .item-three {
  padding: 1em;
  max-width: 33%;
}

.card {
	border-radius: 5px;
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
	box-shadow: -4px 4px 0 2px rgba(0,0,0,0.15);
	padding: 5em;
}

button {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bb5ef9+0,f25e99+100 */
	background: #bb5ef9; /* Old browsers */
	background: -moz-linear-gradient(left,  #bb5ef9 0%, #f25e99 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #bb5ef9 0%,#f25e99 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #bb5ef9 0%,#f25e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb5ef9', endColorstr='#f25e99',GradientType=1 ); /* IE6-9 */

	border: none;
	color: #f9f9f9;
	width: 100%;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: 300;
	border-radius: 500px;
	margin-bottom: 40px;
}

.custom-counter {
  color: #777;
  font-family: 'Inconsolata';
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.5em;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 30px;
  width: 20px;
  text-align: right;
  font-weight: 700;
}

.code-tab {
  padding-left: 10px;
}

#sec-two .row {
  background-color: white;
  border-radius: 5px;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: #eee;
}