@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto|Saira+Extra+Condensed:200,300');
/* CORE FRAMEWORKS */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #eee;
}

#logo {
	max-width: 50px;
	align-self: left;
}

section {
  display: flex;
  flex-direction: column;
	border-radius: 5px;
}

header {
	color: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.header-container {
	flex-grow: 1;
	justify-content: space-between;
} 

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 25px 0 25px;
	border-color: #f9f9f9 transparent transparent transparent;
	align-self: center;
}

.flex-item {
	display: flex;
	flex: 1;
  flex-direction: column;
	justify-content: center;
	line-height: 2.2em;
}

.flex-item img {
	max-width: 70%;
	flex-shrink: 0;
	align-self: center;
}

.flex-item p {
	font-family: 'Quicksand';
	font-size: 1.2em;
}

.flex-item h2 {
	margin: 0;
	font-size: 1.8em;
	font-family: 'Quicksand';
}

section {
	background-color: #27ae60;
	max-width: 100vw;
  min-height: calc(100vh - 20px);
	margin: 10px;
}

#sec-one {
	color: #f9f9f9;
}

#sec-two {
  background-color: #eee;
}

section .container {
	display: flex;
	flex-direction: row;
  height: 70vh;
	max-width: 800px; 
	align-self: center;
}

.top-container {
	margin: auto;
}

.item-one, .item-two, .item-three {
  padding: 1em;
  max-width: 33%;
}

.card {
	border-radius: 5px;
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
	box-shadow: -4px 4px 0 2px rgba(0,0,0,0.15);
	padding: 5em;
}

input, button, submit {
	border:none;
} 

.btn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bb5ef9+0,f25e99+100 */
	background: #bb5ef9; /* Old browsers */
	background: -moz-linear-gradient(left,  #bb5ef9 0%, #f25e99 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #bb5ef9 0%,#f25e99 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #bb5ef9 0%,#f25e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb5ef9', endColorstr='#f25e99',GradientType=1 ); /* IE6-9 */

	color: #f9f9f9;
	width: 100%;
	padding: 0.5em;
	font-size: 1.5em;
	font-family: 'Saira Extra Condensed';
	font-weight: 300;
	border-radius: 500px;

	margin-bottom: 40px;
}